
<div class="container">
  <a [routerLink]="['/pomodoro', pomodoro._id]">
    <div class="title-box">
      <h1 class="title"> {{ pomodoro.title }} </h1>
      <h1 class="pomodoro-emoji">🍅</h1>
    </div>

    <div class="content">
      <div class="pomodoro-body">
        <p>Duration study: {{ pomodoro.studyDurationInMinutes }} min </p>
      </div>
      <div class="pomodoro-body">
        <p>Duration break: {{ pomodoro.breakDurationInMinutes }} min </p>
      </div>
      <div class="pomodoro-body">
        <p>Number cycles: 5 </p>
      </div>
    </div>

    <div class="date">
      <h2 class="date-left"> Programmed: {{pomodoro.startDate | date:'dd MMM yyyy, HH:mm' }} </h2>
      <h2 class="date-right"> Created: {{pomodoro.creationDate | date:'dd MMM yyyy, HH:mm' }} </h2>
    </div>
  </a>
</div>
