
<div class="container">
  <!-- TODO inserire il tutto dentro ad un '<a>' -->
  <div class="title-creator-box">
    <h1 class="title"> {{ pomodoro.title }} </h1>
    <h2 class="creator"> {{ pomodoro.creator }}</h2>
  </div>

  <div class="content">
    <p class="pomodoro-body"> {{ truncateText(pomodoro.description) }}</p>
  </div>

  <div class="date">
    <h2> Last: {{pomodoro.lastModificationDate | date:'dd MMM yyyy, HH:mm' }} </h2>
    <h2> Created: {{pomodoro.creationDate | date:'dd MMM yyyy, HH:mm' }} </h2>
  </div>

</div>
