

body{
    height: 100%;
    margin: 0;
    
}


body{
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
}

.container{
    height: 92.5vh;
    width: 100%;
    background-color: rgb(81, 81, 81);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.select-login-signup{
    width: 90vw;
    height: 4rem;
    margin-top: 2rem;

    display: flex;
    flex-direction: row;
}

.register-selection > h1{
    font-size: 1rem;
    letter-spacing: normal;
    color: white
}
.login-selection > h1{
    font-size: 1rem;
    letter-spacing: normal;
    color: rgb(193, 193, 193);
}


.register-selection, .login-selection{
    width: 45vw;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}





/* login form */

.login-form{
    width: 90vw;
    margin-top: 2rem;
}

.label-div{
    margin: 0 0 0.4rem 0;
}

.login-button{
    width: 90vw;
    padding: 0.7rem;
    background-color: rgb(56, 56, 56);
    margin-top: 0.2rem;
    border: none;
    
    font-size: 0.7rem;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(210, 210, 210);
}



#input-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}




h1 {
    font-size: 1.5rem;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1rem;
    text-align: center;
    color: rgb(229, 229, 229);
}

label{
    font-size: 0.8rem;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.02rem;
    text-align: center;
    color: rgb(229, 229, 229);
    margin-bottom: 1rem;
}

input{
    outline: none;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

input:focus{
    border: 2px solid rgb(157, 157, 157);;
}

input::placeholder{
    color: #afafaf;
    margin-left: 1rem;
}




/* register form */
