/* *, *::before, *::after {
    box-sizing:content-box;
}
 */


.edit-pomodoro-container {
  width: 90vw;
  height: 80vh;
  border: 1px solid rgb(48, 48, 48);
  border-radius: 0.3rem;
  margin: 0px auto;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.75rem;
  background-color: rgb(172, 172, 172);
  /*box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);*/
}

.dialog-actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.dialog-actions button {
  margin: 0 8px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.dialog-actions button:hover {
  background: #ddd;
}

.dialog-actions button:first-child {
  background: #f44336;
  color: white;
}

.dialog-actions button:last-child {
  background: #4caf50;
  color: white;
}

body{
  background-color: grey;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}


.head{
  height: 3vh;
  /*width: 100%;*/

  background-color: rgb(78, 78, 78);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-left: 1rem;

}

.backto{
  margin:0;
  font-size: 1rem;
}

.managePomodoro{
  height: 5vh;
  width: 100%;
  background-color: rgb(78, 78, 78);
  border: 1px solid black;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#form-button{
  height: 100%;
  width: 50%;

  border:none;
  background-color: rgb(63, 63, 63);

  font-size: 0.8rem;
  font-weight: 550;
  color:rgb(236, 236, 236);

  color: white;
  cursor: pointer;

}

.form-group {
  width: 80%;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.label-input {
  align-items: center;
  width: 40%;
}

.input-tag {
  align-items: center;
  width: 70%;
  height: 25px;
}

#description {
  font-size: 12px;
  text-align: left;
  vertical-align: top;
}

h1, h2{
  font-size: 1.5rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: rgb(229, 229, 229);
}

h2{
  font-size: 0.5rem;
  letter-spacing: normal;
}





.creatorSection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;


  border-radius: 1rem;
  background-color: rgb(89, 89, 89);
}

svg{
  height: 0.75rem;
  color: white;
  padding-right: 0.1rem;
}

p{
  font-size: 0.75rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: normal;
  text-align: center;
  color: rgb(229, 229, 229);
}

.pomodoroHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem 0.75rem 1rem;
}

.pomodoroHeader > h1{
  font-size: 1.2rem;
  letter-spacing: normal;
}

#pomodoroTitle{
  max-width: 70vw;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;

  line-height: 1.2rem;
  text-align:left;

}




.dates{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 1.5rem 0.75rem 1.5rem;
}

.pomodoroBody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

#pomodoroTextArea{
  width: 90vw;
  min-height: 70vh;
  border: 1px solid rgb(48, 48, 48);
  border-radius: 0.3rem;
  outline: none;
  padding: 0.75rem;
  background-color: rgb(172, 172, 172);
  resize: none;

  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: normal;
}




a{
  text-decoration: none;
  font-size: 0.7rem;
}



/* popup */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.editpomodoro-popup{
  width: 85vw;
  max-width: 25rem;
  height: 80vh;
  position: fixed;
  top: 10vh;
  left: 7.5vw;
  z-index: 2;

  background-color: rgb(90, 90, 90);
  border: 1px solid rgb(16, 16, 16);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.popup-header{
  width: 90%;
  height: 3rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}
.popup-header > h1, input{
  font-size: 1rem;
}

.popup-header > svg{
  height: 2rem;
  color: white;

}

.separator{
  width: 100%;
  border-bottom: 1px solid black;
}

.title-box{
  width: 90%;
  height: 3.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  align-items: center;
}


.title-box > input{
  background-color: #434343;
  border-style: solid;
  border: 1px solid rgb(106, 106, 106);
  height: 1rem;
  padding: 0.5rem;

  outline: none;
  color: rgb(228, 228, 228);
  text-align: start;
}
.title-box > input:focus{
  border: 1px solid rgb(123, 31, 162);
}
input::placeholder{
  color: #afafaf;
  margin-left: 1rem;
}

#edit-action-button{
  height: 2rem;
  width: 19rem;

  border:none;
  background-color: rgb(63, 63, 63);

  font-size: 0.8rem;
  font-weight: 550;
  color:rgb(236, 236, 236);

  color: white;
  cursor: pointer;

}

label, input{
  font-size: 1rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: rgb(229, 229, 229);
}

/*body {*/
/*  background-color: rgb(90, 90, 90);*/
/*}*/

/* delete pomodoro popup */

.deletepomodoro-popup{
  width: 85vw;
  max-width: 25rem;
  height: 10rem;
  position: fixed;
  top: 40vh;
  left: 7.5vw;
  z-index: 2;

  background-color: rgb(90, 90, 90);
  border: 1px solid rgb(16, 16, 16);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.deletepomodoro-popup > h1{
  font-size: 1rem;
}
